
:root {
    --background:#191D26;
    --button:darkred;
    --tiles-background: #2c3c54;
    --tiles-outline:yellow;
    --tiles-shadow:white;
    --button:darkred;
    --border_effect:#531516;
    --text_colour:#1B222C;
    --font_cabin:font-family: 'Cabin', sans-serif;
}
body {
background-color: var(--background);
font-family: 'Cabin', sans-serif;
}

header {
grid-area : head;
text-align:center;
height : 25px;
color:white;
margin : 2px;
}

main {

display:grid;
color : white;
padding:20px;
grid-template-areas:
    "head head head head head head head head head"
    "bar bar bar bar bar bar bar bar bar"
    "side  side inp content content content content content content"
    "table table table table table table table table table"
    "foot foot foot foot foot foot foot foot foot";
}
.dem_bar{
grid-area:bar;
display:flex;
justify-content: right;
background:var(--tiles-background);
border-radius:5px;
margin-top:10px;
margin-bottom:10px;
height:40px;
}

.graph-buttons{
display :flex;
justify-content:space-around;
align-items:center;
border-radius:8px;
border-style: solid;
border-width:2px;
margin-right:10px;
border-color:var(--tiles-background);
width:300px;
}

.graph-buttons button {
background-color:var(--button);
border-radius:10px;
color:var(--text_colour);
width:120px;
height:30px;
border-color:var(--border_effect);
box-shadow:0 0 5px var(--border_effect);
}

.button-i:hover {
box-shadow:0 0 19px cyan;

}


.button-i {
background-color:black;
color:#00BBB9;
width:120px;
height:50px;
border-color:#00BBB9;
box-shadow:0 0 5px cyan;
}

.button-i i{
position:absolute;
top:78px;
height:15px;
width:80px;
border-radius:10px;
background:white;
}


.table_inputs{
grid-area : inp;
display:flex;
flex-direction:column;
justify-content: space-around;
align-items:center;
background-color:var(--tiles-background);
margin-right:15px;
border-radius:5px;
height:500px;
}
.dem_table{
grid-area : table;
background-color:var(--tiles-background);
border-radius:5px;
height:500px;
margin-top:10px;
}


.bargraph:{
height:250px;
}

.graph {
display:flex;
grid-area:content;
background-color:var(--tiles-background);
border-radius:5px;
border-style: solid;
border-color:#00BBB9;
}

aside {
grid-area : side;
background-color:var(--tiles-background);
margin-right:15px;
border-radius:5px;
height:500px;

}
footer {
grid-area : foot;
background-color:var(--tiles-background);
border-radius:5px;
}

.ref{
border-style: solid;
border-color:#00BBB9;
}