.page{
background-color : #383839;


}
.cards-holder{
margin:25px;
display:grid;
grid-template-columns: repeat(3, 1fr);
}
.page1{
background-color : black;
}
.logo{
padding :0px;
margin : 0px;
}

.info{
height:30px;
background-color:grey;
margin:0px;
color:gold;
display:flex;
justify-content :left;
align-items:center;
border-radius:30px;
#border:1px solid gold;
}
.imageholder{

}

.card{
width : 110px;
height : 130px;
margin-top:30px;
margin-left:30px;

padding : 15px;
background-color:#484848;
border-radius: 20px;
box-shadow : 0 0 30px 	#181818;
border:1px solid gold;
}
.image{

margin-top:15px

}
.image1{
height:80px;
margin-top:15px

}
.card:hover{
transform : scale(1.03);
box-shadow : 0 0 10px #ffffcc;
}
.text{

color:	 #cccc00;
}
a {
text-decoration : none;
color:gold;
}
.set{
display:flex;}

.pics{
background-color:grey;
margin:15px;
border-radius : 25px;
#border:1px solid orange;
box-shadow : 0 0 50px 	#181818;
}


.filter-bar  {
background-color : #7393B3 ;
border-radius: 10px;
width : 380px;
padding:5px;

}

.home{
display:flex;
background-color : #36454F;
border-radius: 10px;
justify-content :left;
padding-left : 8px;

}

.home a {
color : white;
}

.filter-bar input , select , a {
border-radius: 6px;
padding:5px;
font-weight: bold ;
}
.filter-bar a{
color:white;
}


.nav-bar{
display:flex;
align-items:center;
background-color: #36454F;
height:50px;
border-radius: 10px;
justify-content: space-between;
padding-right:180px;
}

.home-button {
display:flex;
align-items:center;
justify-content:center;
height : 10px;
padding:10px;
border-radius: 7px;
}

.view-block{
margin-top:12px;
}

.doc-pics{
background-color:blue;
}

.doc-details{
display:flex;
justify-content:space-around;
align-items:center;
height:25px;
background-color : #36454F;
border-radius: 10px;
color:white;
font-weight: bold ;
}



.doc-card{
display:flex;
margin:10px;
max-width:fit-content;

}


.doc-card img , iframe {
margin:10px;
}

.di{
width:200px;
opacity:90%;
}
.doc-card a{

color:white;
}
.typetext{
position:relative;
top:-95px;
left:15px;

}


.home-button a {
margin-right:10px;
background-color : #383839;
color:white;
}


.loader {
display:none;
align-items:center;
justify-content:center;
position:fixed;
top:0;
left:0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
}

.loader img {
height:500px;
width:600px;
border-radius:20px;
}